.board{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 500px;
  height: 702px;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(172,172,172,0.5);
  -moz-box-shadow: 0px 0px 4px 0px rgba(172,172,172,0.5);
  box-shadow: 0px 0px 4px 0px rgba(172,172,172,0.5);
  .boardContent {
    border-radius: 5px;
    position: absolute;
    top: 225px;
    width: 466px;
    height: 674px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(172,172,172,0.5);
    -moz-box-shadow: 0px 0px 4px 0px rgba(172,172,172,0.5);
    box-shadow: 0px 0px 4px 0px rgba(172,172,172,0.5);
    a {
      display: block;
      margin: 25px 0px 34px 20px;
      font-size: 1.4rem;
      color: $main-orange;
      line-height: 18px;
      span {
        font-size: 1.4rem;
        color: $main-orange;
        line-height: 18px;
      }
    }
    .comments {
      height: 460px;
      overflow: scroll;
      overflow-x: hidden;
      ul {
        li {

          list-style: none;
        }
      }
    }
  }
}
.coments {
  margin-top: 20px;
  border-bottom: 1px solid #ebebeb;
  .row{
    display: flex;
    img {
      margin-left: 20px;
      width: 40px;
      height: 40px;
    }
    div {
      span{
        margin-left: 20px;
        line-height: 40px;
        font-size: 1.4rem;
        color: $header-color;
      }
      p {
        margin: 0 0 25px 20px;
        width: 333px;
        min-height: 84px;
        font-size: 1.4rem;
      }
    }
    span{
      color: rgba(0, 44, 113, 0.5);
      margin-left: 0;
      font-size: 1.4rem;
      line-height: 40px;
    }
  }
}
